<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  
  <ion-content>

    <div class="row row-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            Please follow the simple steps to register your device.
          </div>
        </div>
      </div>
    </div>

    <div class="row row-center">
      <div class="col">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Unique Id">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Mobile Number">
          </label>
        </div>
      </div>
    </div>

    <div class="row row-center">
      <div class="col col-center centered col-50">  
        <button class="button button-calm button-block" ng-click="modal.hide()">
          Register Device
        </button>
      </div>
    </div>

  </div>
 </ion-content>
</ion-modal-view>