<ion-view view-title="Dashboard">
  <ion-content>
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Potency check
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Enter PSA values
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Report Symptom
  </a>

<a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Messages
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Calendar
  </a>

</div>
  </ion-content>
</ion-view>
